@import "src/colors";

:host {
  border: 1vh solid $blue-light;
  border-radius: 1vh;
  background: white;
  display: flex;
  flex-direction: column;

}

.collapsible {
  background-color: $collapsible;
}

.header {
  display: flex;
  justify-content: space-between;

  div {
    display: flex
  }

  img {
    height: 5vh;
  }

  .time {
    margin: 1vh 1vw;
    color: gray;
  }

}

.horizontal-line {
  border-top: 0.5vh solid $blue-light;
}

.footer {
  display: flex;
  justify-content: space-between;

  &.collapsible {
    background-color: $collapsible;
  }

  div {
    margin: 1vh 1vw;
    color: gray;
  }

}

.content-wrapper {
  display: flex;
  flex-direction: column;
}

.collapsible {
  overflow: hidden;
}


