@import "src/colors";

:host {
  border: 5px solid $blue-light;
  border-radius: 1vh;
  display: flex;
  flex-direction: column;

  &:not(.food) {
    background: white;
  }
}

.header {
  display: flex;
  justify-content: space-between;

  div {
    display: flex;
    align-items: flex-start;
    padding: 0 1vw;
  }


  img {
    margin: 1vh 0 1vh 0;
    height: 22px;
    width: auto;
    z-index: 0;
  }

  @media (min-width: 576px) {
    img {
      height: 24px;
      width: auto;
    }
  }

  @media (min-width: 768px) {
    img {
      height: 26px;
      width: auto;
    }
  }

  @media (min-width: 1200px) {
    img {
      height: 30px;
      width: auto;
    }
  }

  @media (min-width: 1400px) {
    img {
      height: 34px;
      width: auto;
    }
  }


  .time {
    margin: 1vh 0;
    color: gray;
  }

}

.horizontal-line {
  border-top: 0.5vh solid $blue-light;
}

.footer {
  display: flex;
  justify-content: space-between;


  div {
    margin: 1vh 1vw;
    color: gray;
  }

}

.content-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 1vw;
}

.collapsible {
  overflow: hidden;
}


