<nav>
  <div class="navigation">
    <div>
      <button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]={exact:true} (click)="onClick()">
        Location
      </button>
      <button routerLink="/faq" routerLinkActive="active" [routerLinkActiveOptions]={exact:true} (click)="onClick()">
        FAQ
      </button>
    </div>
    <div>
      <button routerLink="/18-mai" routerLinkActive="active" [routerLinkActiveOptions]={exact:true} (click)="onClick()">
        18. Mai
      </button>
      <button routerLink="/19-mai" routerLinkActive="active" [routerLinkActiveOptions]={exact:true} (click)="onClick()">
        19. Mai
      </button>
      <button routerLink="/20-mai" routerLinkActive="active" [routerLinkActiveOptions]={exact:true} (click)="onClick()">
        20. Mai
      </button>
    </div>
  </div>
  <a routerLink="/impressum" routerLinkActive="active" (click)="onClick()"
    [routerLinkActiveOptions]={exact:true}>Impressum</a>
</nav>
