<nav>
  <div *ngIf="!oldSmartphone"></div>
  <div>
    <button routerLink="/" routerLinkActive="active"
            [routerLinkActiveOptions]={exact:true} (click)="onClick()">
      Location
    </button>
    <button routerLink="/faq" routerLinkActive="active"
            [routerLinkActiveOptions]={exact:true} (click)="onClick()">
      FAQ
    </button>
  </div>
  <div>
    <button routerLink="/day-one" routerLinkActive="active"
            [routerLinkActiveOptions]={exact:true} (click)="onClick()">
      18. Mai
    </button>
    <button routerLink="/day-two" routerLinkActive="active"
            [routerLinkActiveOptions]={exact:true} (click)="onClick()">
      19. Mai
    </button>
    <button routerLink="/day-three" routerLinkActive="active"
            [routerLinkActiveOptions]={exact:true} (click)="onClick()">
      20. Mai
    </button>
  </div>
  <div *ngIf="!oldSmartphone"></div>
</nav>
<a routerLink="/impressum" routerLinkActive="active"
   (click)="onClick()"
   [routerLinkActiveOptions]={exact:true}>Impressum</a>
