<div class="card">
  <h1>Location</h1>
  <img alt="Pestana Hotel Berlin" src="/assets/images/pestana-berlin-tiergarten.jpg" style="align-self: center"
    width="90%" />

  <p>
    Die Vision Days 2022 finden im City Hotel Pestana am Berliner Tiergarten
    statt. Das Pestana Berlin Tiergarten ist ein 4-Sterne-Hotel in Berlin, das
    sich im zentralen und ruhigen Gebiet des Tiergartens im Herzen Berlins
    befindet... Das Hotel liegt nur zehn Gehminuten vom Zoo Berlin, dem Kaufhaus
    KaDeWe und der Einkaufsstraße Ku'Damm entfernt. Der Teil Berlins um den
    Kurfürstendamm ist auch als City-West bekannt.
  </p>

  <h2>Adresse</h2>
  <p>
    Pestana Berlin Tiergarten <br />
    City Hotel <br />
    Stülerstraße 6 <br />
    10787 Berlin
  </p>

  <div class="grid">
    <img alt="maps" src="/assets/icons/map-regular.svg" />
    <a href="https://goo.gl/maps/onM26XMNsLcgouu28" target="_blank">Google Maps</a>
    <img alt="tel" src="/assets/icons/phone.png" />
    <a href="tel:+49 30 311 75 9000">+49 30 311 75 9000</a>

    <img alt="email" src="/assets/icons/envelope-regular.svg" />
    <a href="mailto:reservation.berlin@pestana.com">reservation.berlin@pestana.com</a>

    <img alt="maps" src="/assets/icons/square-parking-solid.svg" />
    <a href="https://goo.gl/maps/3Na2FCeKrbgz2oZt9" target="_blank">Parkhaus, 300m Fußweg, 19 €/Tag, Einfahrt
      Kurzparker</a>
  </div>

  <h2>Check-In</h2>
  <p>
    Im Hotel kann zu folgen Uhrzeiten eingecheckt werden:<br />
    Di. 17. Mai: 15:00 Uhr - 23:30 Uhr<br />
    Mi. 18. Mai: ab 11:30 Uhr
  </p>
  <h2>Check-Out</h2>
  <p>
    Der Check-Out ist bis 12:00 Uhr.
  </p>

  <h2>WLAN</h2>
  <p>
    Name: Pestana-Berlin<br />
    Passwort: Tiergarten
  </p>

  <h2>Frühstückszeiten</h2>
  <p>Das Frühstücksbuffet öffnet um 6:30 Uhr.</p>
</div>
