<div class="card">
  <h1>Opt-Out Zeiten und Orte</h1>

  <h2>Reichstagskuppel</h2>

  <h3>Spaziergang auslassen</h3>
  <p>Die Buslinie 100 pendelt alle 7 Minuten zwischen "Nordische Botschaften / Adenauer-Stiftung" und "Reichstag /
    Bundestag". Einlasskontrolle ist um 9:15 Uhr am <a href="https://goo.gl/maps/A2ZNfkAzmmft8Kzb7"
                                                       target="_blank">Zentralen Eingang für Besucher</a> an der
    Scheidemannstraße auf Höhe des Westportals des Reichstagsgebäudes.
  </p>
  <h3>Kuppelbesuch auslassen</h3>
  <p>
    Bei der Einlasskontrolle findet auch eine Sicherheitskontrolle mit
    Ausweiskontrolle, Metalldetektor und Durchleuchtung der Taschen statt. Ähnlich wie am Flughafen.

    Gegen 10 Uhr verlassen wir das Reichstagsgebäude und laufen zurück. Die 45 Minuten Wartezeit sollten leicht zu
    füllen sein. Du bist schließlich am interessantesten Ort ganz Deutschlands.</p>

  <h2>Abendessen & Gin Tasting</h2>
  <p>Unser Abendprogramm findet in der <a href="https://goo.gl/maps/TxNRd3C1Nat1DQ6S8"
                                          target="_blank">Rathausstr. 23, 10178 Berlin Mitte</a> statt. Einlass zu
    unserem exklusiven Programm ist um 19:30 Uhr. Bitte frage am Empfang direkt nach der Firmenveranstaltung für die
    VISION Consulting.</p>

  <h2>Erreichbarkeit des Organisations-Teams</h2>
  <div class="personen">
    <p>Katrin Jede:</p> <a href="tel:+49 172 5178195">0172 5178195</a>
    <p>Thomas Brendel:</p> <a href="tel:+49 173 1427626">0173 1427626</a>
    <p>Christian Grün:</p> <a href="tel:+49 162 2413648">0162 2413648</a>
    <p>Hendrik Voß:</p> <a href="tel:+49 1578 5421364">01578 5421364</a>
  </div>

  <h2>Rhythmische Sportgymnastik</h2>
  <p>Du wirst deine Sportsachen nicht benötigen. Dies ist ein Platzhalter für eine Überraschung.<br>
    Christian berichtet von seinem Wehrdienst bei der Schweizer Marine.<br>
    Thomas geht mit Pfeil und Bogen auf Großwildjagd im Tiergarten.<br>
    Katrin und Hendrik singen Hakuna Matata im Kanon.<br>
    Hör auf zu fragen.
  </p>

</div>
