<div class="card">
  <h3>Location</h3>
  <img src="/assets/images/pestana-berlin-tiergarten.jpg" alt="Pestana Hotel Berlin" width="100%"
       style="align-self: center"/>

  <p>Adresse: <br>
    Pestana Berlin Tiergarten <br>
    City Hotel <br>
    Stülerstraße 6 <br>
    10787 Berlin <br>
    Tel: 030 311 75 9990 <br>
    E-Mail: reservation.berlin@pestana.com
  </p>
  <div class="inline">
    <img src="/assets/icons/map-regular.svg" height="24" alt="maps"/> <a
    href="https://g.page/pestana-berlin-tiergarten">Google Maps</a>
  </div>
  <div class="inline">
    <img src="/assets/icons/phone.png" height="24" alt="tel"/> <a
    href="tel:+49 30 311 75 9000">+49 30 311 75 9000</a>
  </div>
  <div class="inline">
    <img src="/assets/icons/envelope-regular.svg" height="24" alt="email"/> <a
    href="mailto:reservation.berlin@pestana.com">reservation.berlin@pestana.com</a>
  </div>


</div>

