<div class="card">
  <h1>Location</h1>
  <img alt="Pestana Hotel Berlin" src="/assets/images/pestana-berlin-tiergarten.jpg" style="align-self: center"
       width="90%"/>

  <p>Die Vision Days 2022 finden im City Hotel Pestana am Berliner Tiergarten statt. Das Pestana Berlin Tiergarten ist
    ein 4-Sterne-Hotel in Berlin, das sich im zentralen und ruhigen Gebiet des Tiergartens im Herzen Berlins befindet...
    Das Hotel liegt nur zehn Gehminuten vom Zoo Berlin, dem Kaufhaus KaDeWe und der Einkaufsstraße Ku´Damm entfernt.
    Der Teil Berlins um den Kurfürstendamm ist auch als City-West bekannt.</p>

  <h2>
    Adresse
  </h2>
  <p>
    Pestana Berlin Tiergarten <br>
    City Hotel <br>
    Stülerstraße 6 <br>
    10787 Berlin
  </p>
  <div class="inline">
    <img alt="maps" height="24" src="/assets/icons/map-regular.svg"/> <a
    href="https://g.page/pestana-berlin-tiergarten">Google Maps</a>
  </div>
  <div class="inline">
    <img alt="tel" height="24" src="/assets/icons/phone.png"/> <a
    href="tel:+49 30 311 75 9000">+49 30 311 75 9000</a>
  </div>
  <div class="inline">
    <img alt="email" height="24" src="/assets/icons/envelope-regular.svg"/> <a
    href="mailto:reservation.berlin@pestana.com">reservation.berlin@pestana.com</a>
  </div>

  <h2>
    Check-In
  </h2>
  <p>
    Im Hotel kann zu folgen Uhrzeiten eingecheckt werden:<br>
    Di. 17. Mai: 15:00 Uhr - 23:30 Uhr<br>
    Mi. 18. Mai: ab 11:30 Uhr
  </p>
  <h2>
    WLAN
  </h2>
  <p> SSID: tba<br>
    Passwort: tba</p>
</div>

<div class="card">
  <h1>Frequently Asked Questions</h1>
  <h3>Wie lautet das WLAN-Passwort?</h3>
  <p>
    Wir stellen das WLAN-Passwort hier zeitnah online.<br>

  </p>
  <h3>Gibt es auch eine App?</h3>
  <p>Ja, öffne das Menü deines Browsers. Dort findest du einen Menüpunkt zum installieren. Die App funktioniert dann
    auch
    offline.</p>

  <p>Abhängig vom Betriebssystem und Browser heißt dieser Menüpunkt immer ein wenig anders.
    Wenn du ihn nicht findest, probiere bitte einen anderen Browser aus. Es werden alle gängigen Smartphones und Laptops
    unterstützt.</p>

  <h3>Ich habe einen Fehler gefunden...</h3>
  <p>Bitte schicke eine E-Mail an <a href="mailto:hendrik.sebastian.voss@vc-g.de">hendrik.sebastian.voss@vc-g.de</a>
    oder eröffne ein <a href="https://github.com/hsvoss/vision-days-companion/issues/new">Issue auf Github</a>.
  </p>

</div>
