@import "src/colors";

:host {
  display: flex;
  flex-direction: column;
  padding: 1vh 1vw;
  gap: 1vh;
}

.card {

  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 1vh;
  border: 1vh solid $blue-light;
  border-radius: 1vh;
  background: white;

  display: flex;
  flex-direction: column;

  .inline {
    display: flex;
    gap: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
  }

}
