<div class="card">
  <h1>Home</h1>
  <p>Die Vision Days2022 finden fom 18. bis 20. Mai in Berlin statt. </p>
</div>


<div class="card">
  <h1>Location</h1>
  <img src="/assets/images/pestana-berlin-tiergarten.jpg" alt="Pestana Hotel Berlin" width="90%"
       style="align-self: center"/>
  <p>Die Vision Days 2022 finden im City Hotel Pestana am Berliner Tiergarten statt. Das Pestana Berlin Tiergarten ist
    ein 4-Sterne-Hotel in Berlin, das sich im zentralen und ruhigen Gebiet des Tiergartens im Herzen Berlins befindet...
    Das Hotel liegt nur zehn Gehminuten vom Zoo Berlin, dem Kaufhaus KaDeWe und der Einkaufsstraße Ku´Damm entfernt.
    Der Teil Berlins um den Kurfürstendamm ist auch als City-West bekannt.</p>

  <h2>
    Adresse
  </h2>
  <p>
    Pestana Berlin Tiergarten <br>
    City Hotel <br>
    Stülerstraße 6 <br>
    10787 Berlin <br>
    Tel: 030 311 75 9990 <br>
    E-Mail: reservation.berlin@pestana.com
  </p>
  <div class="inline">
    <img src="/assets/icons/map-regular.svg" height="24" alt="maps"/> <a
    href="https://g.page/pestana-berlin-tiergarten">Google Maps</a>
  </div>
  <div class="inline">
    <img src="/assets/icons/phone.png" height="24" alt="tel"/> <a
    href="tel:+49 30 311 75 9000">+49 30 311 75 9000</a>
  </div>
  <div class="inline">
    <img src="/assets/icons/envelope-regular.svg" height="24" alt="email"/> <a
    href="mailto:reservation.berlin@pestana.com">reservation.berlin@pestana.com</a>
  </div>

  <h2>
    Check-In
  </h2>
  <p>
    Im Hotel kann zu folgen Uhrzeiten eingecheckt werden: <br>
    Di. 17. Mai: ab 15:00 Uhr <br>
    Mi. 18. Mai: ab 11:30 Uhr
  </p>
  <h2>
    WLAN
  </h2>
  <p>
    SSID: tba<br>
    Passwort: tba
  </p>


</div>
