<app-session heading="Get-Together & Fingerfood" style="background-color: rgba(173,255,180,0.63)" time="12:00 - 13:00">
  <p>
    Zur Stärkung nach der langen Anreise wird ein wenig Fingerfood gereicht. <br>
    Check-In ist ab 11:30 Uhr möglich. </p>
</app-session>

<app-session heading="Freestyle Phsyics" speaker="Annett | Hendrik" time="13:00 - 14:00">
  <p>
    Wer googelt verliert...
</app-session>

<app-session heading="Bereichsmeeting" time="14:00 - 18:00"><p>
  tba <br>
  . <br>
  . <br>
  .</p>
</app-session>

<app-session heading="Ideenmanagement" speaker="Anreas & Niels" time="18:00 - 19:00">
  <p>
    Eure Ideen - Unser Zukunft
  </p>
</app-session>

<app-session heading="Abendessen" style="background-color:  rgba(173,255,180,0.63)" time="19:00 - 20:00">
</app-session>

<app-session heading="Bar & Prämierung Ideenmanagement" speaker="Uwe & Niels" time="20:00 - 00:00">
</app-session>
