<app-block beginn="12:00" class="food" end="13:00" heading="Get-Together & Fingerfood" room="Restaurant">
  <p>
    Wir treffen uns im Restaurant des Hotels. Dort werden Kleinigkeiten zur Stärkung gereicht. <br>
    Bitte checked direkt im Hotel ein. Dies ist bereits ab 11:30 Uhr möglich.
  </p>
</app-block>

<app-block beginn="13:00" end="13:15" heading="Begrüßung" room="Atlantik I+II"></app-block>
<app-block beginn="13:20" end="13:50" heading="Warm Up" room="Atlantik I+II" speaker="Annett"
  speakerLong="Annett Heine-Puppe"></app-block>
<app-block [collapsible]="true" beginn="14:00" end="18:00" heading="Bereichsmeeting BC" room="Atlantik I">
  <app-session beginn="14:00" end="14:30" heading="Welcome" speaker="Oliver & Stephan"
    speakerLong="Oliver Böhmer & Stephan Falch"></app-session>
  <app-session beginn="14:30" end="16:00" heading="GB BC Morphologische Einheit" speaker="Oliver & Stephan"
    speakerLong="Oliver Böhmer & Stephan Falch"></app-session>
  <app-session beginn="16:00 - 16:30" class="food" heading="Kaffeepause"></app-session>
  <app-session beginn="16:30" end="17:15" heading="2TT" speaker="Alle"></app-session>
  <app-session beginn="17:15" end="18:00" heading="Motivation und Emotion" speaker="Thomas Greb"></app-session>
  <div class="horizontal-line"></div>
</app-block>

<app-block [collapsible]="true" beginn="14:00" end="18:00" heading="Bereichsmeeting ITC" room="Atlantik II">
  <app-session beginn="14:00" end="14:30" heading="Stand des Fachbereiches" speaker="Matthias Dannenberg"></app-session>
  <app-session beginn="14:35" end="15:20" heading="Webscraping mit Cypress" speaker="Lutz Liebig"></app-session>
  <app-session beginn="15:30" end="16:00" heading="Stand der Projekte - Teil 1" speaker="Alle"></app-session>
  <app-session beginn="16:00 - 16:30" class="food" heading="Kaffeepause"></app-session>
  <app-session beginn="16:30" end="17:00" heading="Festsetzung" speaker="Hans Frömel"></app-session>
  <app-session beginn="17:05" end="18:00" heading="Stand der Projekte - Teil 2" speaker="Alle"></app-session>
  <div class="horizontal-line"></div>
</app-block>
<app-block [collapsible]="true" beginn="14:00" end="18:00" heading="Bereichsmeeting BO" room="Atlantik III">
  <app-session beginn="14:00" end="14:30" heading="Begrüßung / Fakten und Zahlen" speaker="Uwe, Tobias & Niels"
    speakerLong="Uwe Backes, Tobias Homey & Niels Kunath"></app-session>
  <app-session beginn="14:30" end="14:45" heading="Übersicht über Zuständigkeiten im Back Office (nach Aktualisierung)"
    speaker="Uwe Backes"></app-session>
  <app-session beginn="14:45" end="15:15"
    heading="IT-Umfeld (Stand aufbauend Vorstellung letztes Meeting, Pilot &quot;Onboarding&quot; im SharePoint"
    speaker="Philipp Schwartz"></app-session>
  <app-session beginn="15:15" end="15:30" heading="Organisatorisch (Auswertung Umfrage, To-Do's Back Office)"
    speaker="Tobias & Niels" speakerLong="Tobias Homey & Niels Kunath"></app-session>
  <app-session beginn="15:30" end="16:00" heading="Prozess Faktura &quot;Einführung / Übersicht&quot;"
    speakerLong="Katrin Jede & Niels Kunath"></app-session>
  <app-session beginn="16:00 - 16:30" class="food" heading="Kaffeepause"></app-session>
  <app-session beginn="16:30" end="17:50" heading="Prozess Faktura - spezielle Themen" speaker="Katrin & Niels"
    speakerLong="Katrin Jede & Niels Kunath"></app-session>
  <app-session beginn="17:50" end="18:00" heading="Ausblick &quot;Teil 2 Faktura&quot; & Feedback-Möglichkeit"
    speaker="Tobias & Niels" speakerLong="Katrin Jede & Niels Kunath"></app-session>
  <div class="horizontal-line"></div>
</app-block>

<app-block beginn="18:10" end="19:00" heading="Ideenmanagement" room="Atlantik I+II" speaker="Uwe & Andreas"
  speakerLong="Uwe Backes & Andreas Peters"></app-block>
<!--<app-block beginn="18:00" end="19:00" heading="Ideenmanagement" room="Atlantik" speaker="Andreas Peters & Niels Kunath"></app-block>-->
<app-block beginn="19:00" end="20:00" heading="Abendessen" room="Restaurant" speaker="Buffet im Hotel" class="food">
</app-block>

<app-block beginn="20:00" end="Open End" heading="Feierabendbier" room="Bar & Terrasse" speaker="Uwe & Niels"
  speakerLong="Uwe Backes & Niels Droste">
  <p>mit Prämierung des Ideenmanagements</p>
</app-block>
