:host {
  display: flex;
  flex-direction: column;
  padding: 1vh 1vw;
  gap: 1vh;
}

.card {
  padding: 1vh 0
}

.table-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.loading {
  position: relative;
  height: calc(2vh + 2rem);
  width: 100%;
}


.header {
  margin: 1vh 1vw 0 1vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: gray;
}

.linie-coins {
  display: flex;
  justify-content: center;
}

.line-wrapper {
  margin: 1vh 1vw 0 1vw;
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 13rem;
  width: 50%;
}

.coins {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.line {
  background: #993399;
  color: white;
  height: fit-content;
  border-radius: 3px;
  padding: 4px;

}

.bus-horizontal {
  width: 13rem;
  max-width: calc(100% - 6rem);

  height: 5px;
  background: #993399;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  .clock {
    margin: 1vh 1vw;
    width: 20%;
    display: flex;
    flex-direction: column;
  }

  .stopwatch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: gray;
  }
}

.delay {
  color: #e70000;
}




