@import "src/colors";


:host {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 2;


  justify-self: flex-start;
  align-items: center;
  height: $header-height;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  .logo-img {
    object-fit: scale-down;
    overflow-x: hidden;
    max-height: calc(#{$header-height} - 1rem);
  }

  span {
    cursor: pointer;

    img {
      object-fit: scale-down;
    }
  }
}


.horizontal {
  margin-top: $header-height;

  .left {
    position: fixed;
    top: $header-height;
    height: calc(100vh - #{$header-height});
    width: 5vw;
    left: 0;
  }

  .main {
    padding-left: 5vw;
    padding-right: 5vw;

    &.widescreenMode {
      width: 70vw;
    }

  }

  .right {
    position: fixed;
    top: $header-height;
    height: calc(100vh - #{$header-height});
    width: 5vw;
    right: 0;

    &.widescreenMode {
      right: 30vw;
    }
  }

  .nav-widescreen {
    position: fixed;
    width: 30vw;
    top: $header-height;
    right: 0;
    bottom: 0;

  }
}


.drawer-content {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: calc(100vh - #{$header-height});;

  img {
    width: 5vw;
  }


  app-navigation {
    width: 100%
  }

}



