<div class="header">
  <img alt="Logo" class="logo-img" src="/assets/theme/Vision-Days.png" routerLink="/" routerLinkActive="active"
       [routerLinkActiveOptions]={exact:true} (click)="onClick()">
  <span (click)="toggleSidebar()" *ngIf="!widescreenMode">
    <img alt="menu" height="100%" src="/assets/icons/burger.svg">
  </span>
</div>
<div class="horizontal">
  <img alt="left" class="left" src="assets/theme/left.svg" style="z-index: 1002">
  <div class="main" [class.widescreenMode]="widescreenMode">
    <router-outlet></router-outlet>
  </div>
  <img alt="right" class="right" [class.widescreenMode]="widescreenMode" src="assets/theme/right.svg">
  <app-navigation class="nav-widescreen" *ngIf="widescreenMode"></app-navigation>
  <app-side-drawer>
    <div class="drawer-content">
      <img alt="right" src="assets/theme/right.svg">
      <app-navigation></app-navigation>
    </div>
  </app-side-drawer>
</div>
<ngx-spinner [fullScreen]="true" size="large" type="ball-pulse"><p style="color: white"> Updating... </p></ngx-spinner>
<app-install-prompt></app-install-prompt>

