<div class="logo">
  <img alt="Logo" height="100%" src="/assets/theme/Vision-Days.png">
  <span (click)="toggleSidebar()" *ngIf="!widescreenMode" style="cursor: pointer;">
    <img alt="menu" height="100%" src="/assets/icons/burger.svg">
  </span>
</div>
<div class="horizontal blue-lightest">
  <img alt="right" src="assets/theme/left.svg" style="z-index: 1002">
  <div class="main">
    <router-outlet></router-outlet>
  </div>
  <img alt="right" src="assets/theme/right.svg">
  <app-navigation *ngIf="widescreenMode"></app-navigation>
  <app-side-drawer>
    <div class="horizontal">
      <img alt="right" src="assets/theme/right.svg">
      <app-navigation></app-navigation>
    </div>
  </app-side-drawer>
</div>
