<div class="card">
  <h1>Frequently Asked Questions</h1>

  <h3>Packliste</h3>
  <ul>
    <li>Personalausweis oder Reisepass</li>
    <li>Bequeme Schuhe in denen du 6 Kilometer laufen kannst</li>
    <li>Regenschirm (sicher ist sicher)</li>
    <li>FFP2-Maske ohne Ventil</li>
  </ul>

  <h3>Dresscode</h3>
  <p>Am Do. 19. Mai begleitet uns ein Fotograf und wird Fotos für user firmeneigenes Foto-Portfolio machen. Daher
    bitten wir dich adäquat gekleidet zu kommen, so als würdest du zu einem neuen Kunden fahren.</p>

  <h3>
    Parkmöglichkeiten
  </h3>
  <p>
    Grundsätzlich sollte die Anfahrt mit öffentlichen Verkehrsmitteln erfolgen. Wer mit dem Auto anreist sollte Aufgrund
    der begrenzten Parksituation am Hotel auf folgende Parkmöglichkeiten ausweichen:</p>
  <p style="text-align: left;">
    5 Min Fußweg, 19 €/Tag:
    <a href="https://goo.gl/maps/3Na2FCeKrbgz2oZt9" target="_blank" style="white-space: nowrap;">
      Lützow Center Berlin</a><br>
    5 Min Fußweg, 32 €/Tag:
    <a href="https://goo.gl/maps/MAxN8rQc4tZnsgSx8" target="_blank" style="white-space: nowrap;">Intercontinental
      Hotel</a> <br>
    10 Min Fußweg, 20 €/Tag:
    <a href="https://goo.gl/maps/M3P8gFFjbTqTxT3b6" target="_blank" style="white-space: nowrap;">Contipark Parkhaus</a>
  </p>

  <h3>Corona Regeln</h3>
  <p>
    Es gelten die Regeln, die vom <a href="https://www.berlin.de/corona/massnahmen/verordnung/" target="_blank"
  >Berliner Senat</a> vorgeschrieben werden. Wenn sich die Regeln bis
    dahin deutlich verschärfen, informieren wir dich per E-Mail. Stand heute: Bringe eine FFP2-Maske
    ohne Ventil und deinen Impfausweis mit.
  </p>

  <h3>Welche Zeiten darf ich buchen?</h3>
  <p>Die Geschäftsführung hat folgende Regelung festgelegt: "Gebucht werden können die VISION Days auf Meeting (Code
    97). Darauf buchbar sind die teilgenommen Stunden der gesamten Veranstaltung (siehe Agenda) und die entsprechende
    An- und Abreise. Pausen sind bitte entsprechend zu beachten."
  </p>
  <p>Ich bin von Anfang bis Ende dabei und werde folgende Stunden buchen:<br>
    Mi. 18. Mai: 7h, 30min Pause <br>
    Do. 19. Mai: 9,5h, 90min Pause <br>
    Fr. 20. Mai: 4,5h, 30min Pause <br>
    Plus Reisezeit
  </p>

  <h3>Was kostet das Busticket für den Rückweg am 19. Mai?</h3>
  <p>
    Ein Einzelticket kostet 3,00 Euro. Gruppentickets lohnen sich nicht. Du kannst das Ticket über die Reisekosten
    einreichen. Stand heute musst du in Berliner Bussen eine FFP2-Maske ohne Ventil tragen.
  </p>

  <h3>Verlässlichkeit der Uhrzeiten</h3>
  <p>
    Die Planung der Vision Days ist noch nicht vollständig abgeschlossen.
    Daher wird es noch einige Änderungen und Ergänzungen in der Tagesordnung geben.
    Wenn du eine verlässliche Auskunft benötigst, frage bitte bei uns nach.
    Die Uhrzeit des jeweiligen Tagesbeginns ist verlässlich und wird nicht mehr geändert.
    (Mi. 13:00, Do. 8:30, Fr. 9:00)
  </p>

  <h3>Opt-Out-Möglichkeiten</h3>
  <p>
    Wenn du dich bei einzelnen Aktivitäten oder Tagespunkten nicht wohl fühlst oder aus gesundheitlichen Gründen nicht
    mitmachen möchtest, kannst du diese selbstverständlich auslassen. Bitte melde dich bei
    <a href="tel:+49 1578 5421364">Hendrik</a> um im Detail abzustimmen, wann du wieder zur Gruppe dazustoßen kannst.

    Außerdem geben wir dir vorab ein paar weitere Informationen mit genaueren
    <a routerLink="/out-out" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>
      Ort- und Zeitangaben</a>.
  </p>

  <h3>Veröffentlichung der Fotos</h3>
  <p>Die meisten deiner Kollegen haben eine Einwilligungserklärung zur Nutzung von Fotos abgegeben. Wenn du dies nicht
    getan hast, ist dies bei der Geschäftsleitung bekannt und dein Bild wird auch nicht veröffentlicht.</p>

  <h3>Erreichbarkeit des Organisations-Teams</h3>
  <div class="personen">
    <p>Katrin Jede:</p> <a href="tel:+49 172 5178195">0172 5178195</a>
    <p>Thomas Brendel:</p> <a href="tel:+49 173 1427626">0173 1427626</a>
    <p>Christian Grün:</p> <a href="tel:+49 162 2413648">0162 2413648</a>
    <p>Hendrik Voß:</p> <a href="tel:+49 1578 5421364">01578 5421364</a>
  </div>

  <h3>Ich habe eine Frage</h3>
  <p>Bitte stell dem Organisations-Team deine Fragen. Bestimmt bist du nicht der einzige mit dieser Frage. Wir können
    die Antworten dann auch hier veröffentlichen.
    Das Organisations-Team ist per Mail, Teams oder Handy erreichbar.</p>

  <h3>Gibt es auch eine App?</h3>
  <p>Ja, öffne das Menü deines Browsers. Dort findest du einen Menüpunkt zum installieren oder um sie zum
    Home-Bildschirm hinzuzufügen.
    Die App funktioniert auch offline.
    Wenn du den Menüpunkt nicht findest, probiere bitte einen anderen Browser aus. Es werden alle gängigen Smartphones
    und Laptops unterstützt.</p>

  <h3>Ich habe einen Fehler gefunden...</h3>
  <p>Bitte schicke eine E-Mail an <a href="mailto:hendrik.sebastian.voss@vc-g.de">hendrik.sebastian.voss@vc-g.de</a>
    oder eröffne ein <a href="https://github.com/hsvoss/vision-days-companion/issues/new" target="_blank">Issue auf
      Github</a>.
  </p>

</div>
