<div class="card">
  <h1>Frequently Asked Questions</h1>

  <h3>Packliste</h3>
  <p>Bitte bringe folgendes mit: <br>
    Deinen Personalausweis oder Reisepass<br>
    Bequeme Schuhe in denen du 6 Kilometer laufen kannst<br>
    Regenschirm (sicher ist sicher)<br>

  </p>


  <h3>Verlässlichkeit der Uhrzeiten</h3>
  <p>
    Die Planung der Vision Days ist noch nicht vollständig abgeschlossen.
    Daher wird es noch einige Änderungen und Ergänzungen in der Tagesordnung geben.
    Wenn du eine verlässliche Auskunft benötigst, frage bitte bei uns nach.
    Die Uhrzeit des jeweiligen Tagesbeginns ist verlässlich und wird nicht mehr geändert.
    (Mi. 13:00, Do. 8:30, Fr. 9:00)
  </p>

  <h3>Wie lautet das WLAN-Passwort?</h3>
  <p>
    Wir stellen das WLAN-Passwort hier zeitnah online
  </p>

  <h3>Frühstückszeiten</h3>
  <p>
    Die Frühstückszeiten werden ebenfalls zeitnah veröffentlicht.
  </p>

  <h3>Was kostet das Busticket für den Rückweg am 19. Mai?</h3>
  <p>
    Ein Einzelticket kostet 3,00 Euro. Gruppentickets lohnen sich nicht. Du kannst das Ticket über die Reisekosten einreichen.
  </p>


  <h3>Gibt es auch eine App?</h3>
  <p>Ja, öffne das Menü deines Browsers. Dort findest du einen Menüpunkt zum installieren oder um sie zum Home-Bildschirm hinzuzufügen.
    Die App funktioniert auch offline.
    Wenn du den Menüpunkt nicht findest, probiere bitte einen anderen Browser aus. Es werden alle gängigen Smartphones und Laptops
    unterstützt.</p>

  <h3>Ich habe einen Fehler gefunden...</h3>
  <p>Bitte schicke eine E-Mail an <a href="mailto:hendrik.sebastian.voss@vc-g.de">hendrik.sebastian.voss@vc-g.de</a>
    oder eröffne ein <a href="https://github.com/hsvoss/vision-days-companion/issues/new">Issue auf Github</a>.
  </p>

</div>
