<div class="card">
  <div class="header">
    <div>
      <h1>Fotoshooting</h1>
      <img alt="maps" src="/assets/icons/camera-solid.svg" height="16" />
    </div>
    <div class="time">All Day</div>
  </div>
  <p>Am heutigen Tag begleitet uns ein Fotograf.</p>
</div>


<app-block beginn="8:30" end="10:45" heading="Reichstagskuppel" room="Lobby">
  <p>Wir unternehmen einen Spaziergang durch den Tiergarten und besichtigen die Reichstagskuppel.
    Dazu treffen wir uns in der Lobby und laufen um 8:30 Uhr gemeinsam los. Bitte tragt adäquates Schuhwerk und bringt
    euren <b>Personalausweis</b> oder Pass mit.</p>
</app-block>

<app-block [collapsible]="true" beginn="11:00" end="13:00" heading="Einführung World Café" room="Atlantik"
  speaker="Florian Grolman">
  <app-session heading="Gruppenaufteilung">
    <div *ngFor="let person of personsWorldCafe">
      {{person.lastName}}, {{person.firstName}}: Gruppe {{person.group}}
    </div>
    <p>
    </p>
  </app-session>

  <div class="horizontal-line"></div>
</app-block>


<app-block beginn="13:00" class="food" end="14:00" heading="Mittagessen" room="Restaurant" speaker="Buffet im Hotel">
</app-block>

<app-block *ngIf="calcPlaceholder() === 'Placeholder'" beginn="14:00" end="15:00" heading="Rhythmische Sportgymnastik"
  room="Atlantik" speaker="Uwe & Niels" speakerLong="Uwe Backes & Niels Droste"></app-block>

<app-block *ngIf="calcPlaceholder() === 'TimeIsUp'" beginn="14:00" end="15:00" heading="Drum Conversation"
  room="Atlantik" speaker="Dressler & Seck" speakerLong="Florian Dressler & Ismael Seck"></app-block>

<app-block beginn="15:00" end="17:50" heading="World Café: Quo vadis VISION?" room="Atlantik" speaker="Florian Grolman">
  <app-session beginn="16:00 - 16:30" class="food" heading="Kaffeepause"></app-session>
  <div class="horizontal-line"></div>
</app-block>

<app-block beginn="18:00" end="18:50" heading="Humorinstitut" room="Atlantik" speaker="Eva Ullmann"></app-block>
<app-block beginn="19:00" class="food" end="Open End" heading="Abendessen & Gin Tasting" room="Lobby"
  speaker="4-Gänge-Menü">
  <p>Unser Abendprogramm findet in der Nähe der Rathausbrücke statt. Wir treffen uns um 19:00 Uhr in der Lobby und
    fahren gemeinsam dort
    hin.</p>
  <h2>Rückweg</h2>
  <p>
    Dies ist Open-End Veranstaltung. Daher bitten wir euch den Rückweg selbst zu organisieren. Ihr könnt entweder einen
    einstündigen Spaziergang unternehmen oder die öffentlichen Verkehrsmittel nutzen. Preis: 3,00 Euro
  </p>

  <button routerLink="/bus" routerLinkActive="active"
    style="width: 50%; min-width: fit-content; max-width: 600px; align-self: center"
    [routerLinkActiveOptions]={exact:true}>
    Busfahrplan
  </button>

</app-block>