<app-block beginn="8:30" end="10:30" heading="Besuch der Reichstagskuppel" room="Lobby">
  <p>Wir unternehmen einen Spaziergang durch den Tiergarten und besichtigen die Reichstagskuppel. Treffen um 8:30 Uhr in der Lobby.</p>
</app-block>
<app-block beginn="10:30" end="11:00" heading="Kaffeepause" room="Foyer" style="background-color: #FFFFDEFF"></app-block>
<app-block beginn="11:00" end="11:45" heading="Drums" room="Atlantik"></app-block>

<app-block beginn="12:00" end="13:00" heading="World Café" room="Atlantik" speaker="???"><p>Einführung</p></app-block>
<app-block beginn="13:00" end="14:00" heading="Mittagessen" room="Restaurant" speaker="Buffet im Hotel"
           style="background-color: #FFFFDEFF"></app-block>
<app-block beginn="14:00" end="18:00" heading="World Café" room="Atlantik" speaker="???">
  <p>Quo vadis VISION?</p>
  <app-session beginn="16:00" end="16:30" heading="Kaffeepause" room="Foyer" style="background-color: #FFFFDEFF"></app-session>
  <div class="horizontal-line"></div>
</app-block>

<app-block beginn="18:00" end="19:00" heading="Humor-Institut" room="Atlantik" speaker="???"></app-block>
<app-block beginn="19:30" end="21:30" heading="Abendessen" speaker="???" style="background-color: #FFFFDEFF"></app-block>
<app-block beginn="22:00" end="00:00" heading="Nachtwächter" room="Berlin" speaker="optional"></app-block>
