$blue-lightest: #cff2ff;
$blue-light: #7FCDEE;
$blue-medium: #009CDE;
$blue-dark: #001E62;

//$collapsible: #FFFFDEFF;
$food: #FFFFDEFF;

$white: white;
$gray: gray;
$black: black;

$header-height: 4rem;
