@import "src/colors";

body {
  margin: 0;
  font-family: "URW Dock bold", Helvetica, Arial, Lucida, sans-serif;
  font-size: 2vh;
}

h1 {
  font-size: 3vh;
  margin: 1vh 1vw;
}

h2 {
  font-size: 2.5vh;
  margin: 1vh 1vw 0;
}


p {
  margin: 1vh 1vw;
}


.card {
  margin: 1vh;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 2vh;
  border: 1vh solid $blue-light;
  border-radius: 1vh;
  background: white;

  display: flex;
  flex-direction: column;
  //align-items: center;

}

//
//.food {
//  background: $food;
//}
