@import "src/colors";

* {
  box-sizing: border-box;
}

html {
  background-color: $blue-lightest;
}

body {
  margin: 0;
  font-family: "URW Dock bold", Helvetica, Arial, Lucida, sans-serif;
  //height: 100%;

  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

}

.horizontal-line {
  border-top: 3px solid $blue-light;
}

.food {
  background-color: $food;
}

//max-width: 575px (default value)
*, p, a {
  font-size: 16px;
}

h2 {
  font-size: 18px;
}

h1 {
  font-size: 22px
}

@media (min-width: 576px) {
  *, p, a {
    font-size: 18px;
  }

  h2 {
    font-size: 20px;
  }

  h1 {
    font-size: 24px
  }

}

@media (min-width: 768px) {
  *, p, a {
    font-size: 20px;
  }

  h2 {
    font-size: 22px;
  }

  h1 {
    font-size: 26px
  }


}

//@media (min-width: 992px) {
//menu opens
//}

@media (min-width: 1200px) {
  *, p, a {
    font-size: 22px;
  }

  h2 {
    font-size: 26px;
  }

  h1 {
    font-size: 30px
  }


}

@media (min-width: 1400px) {
  *, p, a {
    font-size: 24px;
  }

  h2 {
    font-size: 28px;
  }

  h1 {
    font-size: 34px
  }
}


h1, h2, h3, p, a {
  margin: 1vh 1vw;
}


.card {

  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 1vh;
  border: 5px solid $blue-light;
  border-radius: 1vh;
  background: white;

  display: flex;
  flex-direction: column;

  .inline {
    display: flex;
    gap: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
  }

}
