@import "src/colors";

body {
  margin: 0;
  font-family: "URW Dock bold", Helvetica, Arial, Lucida, sans-serif;
  font-size: 2vh;
}

h1 {
  font-size: 3vh;
  margin: 1vh 1vw;
}

h2 {
  font-size: 2.5vh;
  margin: 1vh 1vw 0;
}

h3 {
  font-size: 2vh;
  margin: 1vh 1vw 0;
}

p {
  margin: 1vh 1vw;
}
