<nav>
  <button routerLink="/" routerLinkActive="active"
          [routerLinkActiveOptions]={exact:true}>
    Home
  </button>
  <button routerLink="/day-one" routerLinkActive="active"
          [routerLinkActiveOptions]={exact:true}>
    18. Mai
  </button>
  <button routerLink="/day-two" routerLinkActive="active"
          [routerLinkActiveOptions]={exact:true}>
    19. Mai
  </button>
  <button routerLink="/day-three" routerLinkActive="active"
          [routerLinkActiveOptions]={exact:true}>
    20. Mai
  </button>
</nav>
